<div class="container mt-3">
  <div class="row">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Salle_gaumont.jpg/1024px-Salle_gaumont.jpg');">
      <div class="container text-center">
        <h1 class="page-title text-white">My lists</h1>
      </div>
    </div>
  </div>
  <div class="flat-card-content mt-4">
    <div class="row">
      <% @lists.each do |list| %>
        <div class="col-12 col-md-6 col-lg-4 flat-card-item">
          <div class="card p-3 mb-4">
            <%= link_to list.name, list, class: "btn btn-link d-block text-center" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center mt-3">
      <%= link_to "Create a list", new_list_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

